@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*{ margin: 0; padding: 0;}
body{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
    
    
}



main{
    height: 300px;
    max-width: 80%;
    margin:80px auto;
  
    border-radius: 20px;

    background: linear-gradient(to right, #212121 , #263238 );
    color:#18ffff;
    box-shadow: 10px 10px 10px #546e7a;
    
  

}

 

    



